.map-view, .map-view__map { height: 100%; min-height: 300px; width: 100%; }
.map-pin { background: none; border: none; }
.map-pin--active { z-index: 1000 !important; filter: drop-shadow(0 0 4px #000); }
